<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PrintShop, Prints by Matt Martin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      /*body {
        padding-top: 60px;
        padding-bottom: 40px;
      }*/
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>


    <link href="style/main.css" rel="stylesheet">
   <!--<link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <!--<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse 
        </div>
      </div>-->
    </div>
    <div class="outer-wrapper">
      <div class="header">
        <a class="title" href="/">
            PRINTS
        </a>
        by Matt Martin
      </div>
      <div class="nav">
        <ul id="navbar">
          <li><a>About</a></li>
          <li><a>Featured</a></li>
          <li><a>Recent Work</a></li>
          <li><a>Collections</a></li>
        </ul>
      </div>
    
        <!--<h1>Bootstrap 3 Responsive Image Grid</h1>
        <hr>
    
        <h2>Non-stacking grid example<p class="lead">Uses the tiny <code>.col-*</code> grid classes</p></h2>
        <p>This layout displays <b>4 images per row</b>. Bootstrap 3 sizes images "responsively" using the <code>img-responsive</code> CSS class. As browser width shrinks, the columns and images scale down accordingly...</p>
        
        <h2>3-2-1 grid example<p class="lead">3 columns on desktop, 2 columns on tablets, 1 columns on phones</p></h2>
        -->
        <div id="grid">
          <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                     <img src="http://michaelkenna.com/gallery_images/31a57e1.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                     <img src="http://michaelkenna.com/gallery_images/31a57e1.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                     <img src="http://michaelkenna.com/gallery_images/31a57e1.jpg" class="thumbnail img-responsive">
                </a>
            </div>
          </div>
        </div>
        <div id="footer">
        Footer material here
        </div>
    </div>
    <hr>
    <br><br>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/bootstrap/js/transition.js"></script>
    <script src="components/bootstrap/js/alert.js"></script>
    <script src="components/bootstrap/js/modal.js"></script>
    <script src="components/bootstrap/js/dropdown.js"></script>
    <script src="components/bootstrap/js/scrollspy.js"></script>
    <script src="components/bootstrap/js/tab.js"></script>
    <script src="components/bootstrap/js/tooltip.js"></script>
    <script src="components/bootstrap/js/popover.js"></script>
    <script src="components/bootstrap/js/button.js"></script>
    <script src="components/bootstrap/js/collapse.js"></script>
    <script src="components/bootstrap/js/carousel.js"></script>
    <script src="components/bootstrap/js/typeahead.js"></script>

  </body>
</html>
